
.bg {
    background-image: url("assets/images/AdobeStock_281044005.jpeg");
    background-position: center;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-header {
    background-image: url("assets/images/AdobeStock_281044005.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

#JumboImg{
    background-position: center;
    width: 80px;
}
.jumboBackground{
    background-image: url("assets/images/tv-310801_1280.png");
    background-size: 150px;
    width: 100px;
    height: 80px;
    border: none;
}